/*references:*/
/*1. css code adapted from this website:*/
/*https://www.w3schools.com/*/
/*2. sidebar code adapted from this link:*/
/*https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp*/


body {
  background-image: linear-gradient(to right, rgba(255,249,186,1), rgba(0,0,0,0));
}

.navbar {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: #c2c2c2;
  overflow-x: hidden;
  padding: 3px 0;
  text-align: center;
}

#homebutton {
  color: black;
  font-size: 20px;
}

.navbar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: darkgreen;
  display: block;
}

.navbar a:hover {
  background-color: white;
  color: black;
}

.resources {
  width: 150px;
  position: fixed;
  z-index: 2;
  top: 675px;
  left: 0px;
  background: #c2c2c2;
  overflow-x: hidden;
  padding: 3px 0;
  text-align: center;
}

.resources a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: darkgreen;
  display: block;
}

.resources a:hover {
  background-color: white;
  color: black;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 25px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

#testbutton {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  color: #256600;
  text-decoration: none;
  font-family: Helvetica;
  background-color: red;
}

@media screen and (max-height: 450px) {
  .navbar {padding-top: 15px;}
  .navbar a {font-size: 18px;}
}
